<html>

<h1> <center> New Employee </center></h1>

<form action="/saveEmployee" method="post">

    Employee Number: <input name="empno"><br>

    Empoloyee Name:<input name="ename"><br>

    Salary:<input name="esal"><br>

    Department:<input name="edept"><br>

    <input Type="submit"><br>

</form>
</html>