<html>
    <centre><h1>Times table for the selected range of: <%= storedNumber %></h1></centre>

<% 
for(let x=1; x<=range; x++){
%>

<%=storedNumber %> x <%= x %> = <%= x*range %> <br>

<% } %>
</html>